<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <main>
        <div class="location-box">
          <p class="date">{{ today }}</p>
          <input
            type="text"
            class="search-bar"
            placeholder="search..."
            v-model="query"
            @keypress="fetchWeather"
            v-focus
          />
          <br />
        </div>

        <div class="weather-container" v-if="query">
          <h2 class="location">{{ myLocstions ? myLocations : query }}</h2>
          <div class="weather">
            <h1 id="temperature">{{ Math.round(temp) }}°C</h1>
            <h2>{{ description }}</h2>
          </div>

          <div class="advice">
            <h3>
              Here comes some unsolicited and also probably useless advice.
            </h3>
          </div>
        </div>

        <div v-else>
          <h2>Search for your location</h2>
        </div>
      </main>
    </div>

    <!-- Import App -->
    <script src="main.js"></script>

    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
